﻿@using FJIS2_2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Email").focus();

            $(":password").mousedown(function () {
                $(this).attr('type', 'text');
                $(this).focus();
            });
            $(":password").mouseup(function () {
                $(this).attr('type', 'password');
                $(this).focus();
            });

        });
    </script>
}

<section id="loginForm">
    @using (Html.BeginForm("Index", "Login", new { Area="Identity", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div id="mainPanelHeading" class="panel-heading">@ViewBag.Title</div>
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label" })
                            <div class="col-md-5 input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                            <div class="col-md-0" style="padding-left:15px">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-1 control-label" })
                            <div class="col-md-5 input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            </div>
                            <div class="col-md-offset-1" style="padding-left:15px">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("Need an account? Register as a new user.", "Register")
                                </div>
                            </div>*@
                        <div class="col-md-offset-1 col-md-10">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", new { Area="Identity" }, null)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
