﻿@using FJIS2_2_Domain.Models;
@model IEnumerable<ActivityLog>
@{
    ViewBag.Title = "FJIS 2.0 Admin : Details/Activity Log";
    WebGrid ActivityLogGrid = new WebGrid(ViewBag.ActivityLog, canPage: false, rowsPerPage: 20);
    WebGrid DetailsGrid = new WebGrid(ViewBag.Details, canPage: false, rowsPerPage: 20);

}

@*<div class="topHeader" style="padding: 0px !important">
    <span id="headerText">FJIS 2.0 Details/Activity Log Window</span>
</div>*@
@using (Html.BeginForm("Activity", "Admin", FormMethod.Post))
{
<div class="row" style="padding:2%">
    <div class="topHeader" style="padding: 0px !important"><span id="headerText">Case Details</span></div>
    
    @DetailsGrid.GetHtml(tableStyle: "table table-bordered smallRows",
                   alternatingRowStyle: "gridaltrow",
                   mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
                  htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                  columns:
                  DetailsGrid.Columns(
                                   DetailsGrid.Column("JudicialDistrict", "Judicial District", format: (item) => item.JudicialDistrict, style: "gridMinWidth", canSort: false),
                                   DetailsGrid.Column("JudicialCounty", "Judicial County", format: (item) => item.JudicialCounty, style: "gridMinWidth", canSort: false),
                                   DetailsGrid.Column("CaseNumber", "Case Number", format: (item) => item.CaseNumber, style: "gridMinWidth", canSort: false),
                                   DetailsGrid.Column("CountNumber", "Count Number", format: (item) => item.CountNumber, style: "gridMinWidth", canSort: false),
                                   DetailsGrid.Column("JudgmentTypeCode", "Judgement Status", format: (item) => item.JudgmentTypeCode, style: "gridMinWidth", canSort: false),
                                   DetailsGrid.Column("JudgmentEntryDateValue", "Date Received", format: item => ((item.JudgmentEntryDateValue == null) ? "" : item.JudgmentEntryDateValue.ToString("MM/dd/yyyy")))
                                   //DetailsGrid.Column("JudgmentEntryDateValue", "Date Received", format: (item) => item.JudgmentEntryDateValue, style: "gridMinWidth", canSort: false)
                             )
)
</div>
<div id="results" class="row" style="padding:2%">
    <div class="topHeader" style="padding: 0px !important"><span id="headerText">Case Activity Log</span></div>
    
    @ActivityLogGrid.GetHtml(tableStyle: "table table-bordered smallRows",
                    alternatingRowStyle: "gridaltrow",
                    mode: WebGridPagerModes.All,
                         firstText: "<< First",
                         previousText: "< Prev",
                         nextText: "Next >",
                         lastText: "Last >>",
                   htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                   columns:
                   ActivityLogGrid.Columns(
                                    //ActivityLogGrid.Column("JudicialDistrict", "Judicial District", format: (item) => item.JudicialDistrict, style: "gridMinWidth", canSort: true),
                                    //ActivityLogGrid.Column("JudicialCounty", "Judicial County", format: (item) => item.JudicialCounty, style: "gridMinWidth", canSort: true),
                                    ActivityLogGrid.Column("CaseNumber", "Case Number", format: (item) => item.CaseNumber, style: "gridMinWidth", canSort: false),
                                    ActivityLogGrid.Column("CountNumber", "Total Counts", format: (item) => item.CountNumber, style: "gridMinWidth", canSort: false),
                                    ActivityLogGrid.Column("EventName", "Event Type", format: (item) => item.EventName, style: "gridMinWidth", canSort: false),
                                    ActivityLogGrid.Column("EventStatus", "Event Status", format: (item) => item.EventStatus, style: "gridMinWidth", canSort: false),
                                    ActivityLogGrid.Column("EventMessage", "Event Message", format: (item) => item.EventMessage, style: "gridMinWidth", canSort: false),
                                    ActivityLogGrid.Column("EventDate", "Event Date", format: item => ((item.EventDate == null) ? "" : item.EventDate.ToString("MM/dd/yyyy"))),
                                    ActivityLogGrid.Column("EventUserID", "Event User ", format: (item) => item.EventUserID, style: "gridMinWidth", canSort: false)
                              )
)
    <br />
    <div class="Pager"></div>
    <a href="@Url.Action("Index", "Admin", new {Area = ""})" class="btn btn-primary noPrint">Home</a>
    <button id="Print" class="btn btn-primary noPrint" type="button" onclick="window.print();">Print</button>
    @TempData["Message"]


</div>
}

@Scripts.Render("~/bundles/customBundle")