﻿@using FJIS2_2_Domain.Models;
@model IEnumerable<CaseJudgement>

@{
    ViewBag.Title = "FJIS 2.0 Admin : Details";
    WebGrid grid = new WebGrid(source: Model, canSort: true, canPage: true, rowsPerPage: 20);
}

@*<form method="post" action="" onsubmit="return validate()">*@
    <div class="topHeader" style="padding: 0px !important">
        <span id="headerText">FJIS 2.0 Details Window</span>
    </div>

    <h3 style="display:none; color:darkred">No record selected</h3>
    @using (Html.BeginForm("Activity", "Admin", FormMethod.Post))
    {
        <div id="results" style="padding:2%">

            @grid.GetHtml(tableStyle: "table table-bordered smallRows",
                            alternatingRowStyle: "gridaltrow",
                            mode: WebGridPagerModes.All,
                                 firstText: "<< First",
                                 previousText: "< Prev",
                                 nextText: "Next >",
                                 lastText: "Last >>",
                           htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                           columns: grid.Columns(grid.Column(format: @<text> <input type="radio" value="@item.CaseNumber" name="CaseNumbers" /> </text>, header: "{checkall}", style: "gridMinWidth"),
                                                                                     grid.Column("JudicialDistrict", "Judicial District", format: (item) => item.JudicialDistrict, style: "gridMinWidth", canSort: true),
                                                                                     grid.Column("JudicialCounty", "Judicial County", format: (item) => item.JudicialCounty, style: "gridMinWidth", canSort: true),
                                                                                     grid.Column("CaseNumber", "Case Number", format: (item) => item.CaseNumber, style: "gridMinWidth", canSort: true),
                                                                                     grid.Column("DateReceived", "Date Received", format: (item) => item.JudgmentEntryDateValue, style: "gridMinWidth", canSort: true),
                                                                                     //grid.Column("DateDistributed", "Date Distributed", format: (item) => item.DateDistributed, style: "gridMinWidth", canSort: true),
                                                                                     grid.Column("Counts", "Counts", format: (item) => item.CountNumber, style: "gridMinWidth", canSort: true),
                                                                                     grid.Column(null, null, format: @<text><button type="button" class="btn btn-light ViewCaseDetails" style="min-width: 100%">View Details</button><div style="display:none"></div></text>),
                                                                                                                               grid.Column(format: (item) =>
                                                                                                                               {
                                                                                                                                   WebGrid childGrid = new WebGrid(source: item.caseDetails, canSort: false, canPage: false);
                                                                                                                                   return childGrid.GetHtml(
                                                                                                                                   htmlAttributes: new { @class = "ChildGrid" },
                                                                                                                                   columns: childGrid.Columns(
                                                                                                                                           childGrid.Column("CaseNumber", "Case Number", style: "gridMinWidth"),
                                                                                                                                           childGrid.Column("JudicialDivision", "Judicial Division", style: "gridMinWidth"),
                                                                                                                                           childGrid.Column("CountNumber", "Count", style: "gridMinWidth"),
                                                                                                                                           childGrid.Column("JudgmentTypeCode", "Judgement Status", style: "gridMinWidth"),
                                                                                                                                           childGrid.Column("JudgmentEntryDateValue", "Date Received", style: "gridMinWidth")
                                                                                                                                    ));
                                                                                                                               })
                                                                                                                                                                                                                                                                                                                          )
                                                                                                                                                                                                                                                                                                  )
            <br />
            <div class="Pager"></div>

            <a href="@Url.Action("Index", "Admin", new {Area = ""})" class="btn btn-primary noPrint">Home</a>
            <button type="submit" id="ActivityLog" name="SubmitBtn" class="btn btn-primary noPrint" value="ActivityLog">Activity Log</button>

            @*<button type="submit" id="Distribute" class="btn btn-primary noPrint">Distribute</button>*@
            <button id="Print" class="btn btn-primary noPrint" type="button" onclick="window.print();">Print</button>
            <button type="button" class="btn btn-success noPrint" data-toggle="modal" style="float:right" data-target="#SelectThirdPartyAgency">Select Third-Party Agency for Redistribution</button>

            <div class="modal fade" id="SelectThirdPartyAgency" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">Third-Party Agencies</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-0 ml-4">
                                <div class="col-12 my_checkbox ">
                                    <p style="color: darkred; display:none" id="message">Please select Atleast 1 Third-Party Agency to redistribute Case judgement.</p>
                                    <div class="row"> <input type="checkbox" id="Agencies" value="6" name="Agencies[]"> <label for="TBI">TBI</label> </div>
                                    <div class="row"> <input type="checkbox" id="Agencies" value="7" name="Agencies[]"> <label for="TDOC">TDOC</label> </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" id="Redistribution" name="SubmitBtn" class="btn btn-success noPrint" value="Redistribution">Redistribute</button>
                        </div>

                    </div>
                </div>
            </div>

            @TempData["Message"]


        </div>
    }
@*</form>*@
@Scripts.Render("~/bundles/customBundle")

<script>

    $(function () {
        //Loop through all Child Grids.
        $("#WebGrid .ChildGrid").each(function () {
            //Copy the Child Grid to DIV.
            var childGrid = $(this).clone();
            $(this).closest("tr").find("td").eq(6).find("div").append(childGrid);
            //$(this).closest("TR").find("TD").eq(0).find("DIV").append(childGrid);

            //Remove the Last Column from the Row.
            $(this).parent().remove();
        });

        //Remove Last Column from Header Row.
        $("#WebGrid TH:last-child").eq(0).remove();
    });
    $("body").on("click", "#ActivityLog", function () {
        ViewBag.Id = "ActivityLog";
    });
    $(document).on("click", "#Redistribution", function (e) {
        var checkbox = document.querySelector('input[name="Agencies[]"]:checked');
        if (!checkbox) {
            $("#message").show();
            return false;
        }
    });
    
    //Assign Click event to ViewDetail.

    $("body").on("click", ".ViewCaseDetails", function () {

        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>").fadeIn('500');
        $(this).addClass("hideCaseDetails");
        $(this).removeClass("ViewCaseDetails");
        $(this).text("Hide");
    });

    $("body").on("click", ".hideCaseDetails", function () {
        $(this).addClass("ViewCaseDetails");
        $(this).removeClass("hideCaseDetails");
        $(this).text("View Details");
        $(this).closest("tr").next().remove();
    });
</script>
