﻿
@model FJIS2_2_Domain.Models.CaseJudgement

@{
    ViewBag.Title = "FJIS 2.0 Administrative Window";
}

<div class="topHeader" style="padding: 0px !important">
    <span id="headerText">FJIS 2.0 Administrative Window</span>
</div>
<div class="navbar navbar-default" style="padding: 20px; ">
    <span style="font-size:x-large">Enter Search Criteria: </span><span style="font-size:medium">Selection criteria can consist of a single or multiple selection.</span>
</div>

@using (Html.BeginForm("DoCaseJudgementSearch", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@

    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="noPrint">
        <table>
            <tr>
                <td style="padding-left: 20px"><label class="font-weight-bold">Judicial District:</label></td>
                <td>@Html.TextBoxFor(m => m.JudicialDistrict, new { @class = "form-control noauto", @maxlength = "50", @autocomplete = "off", @placeholder = "Judicial District", @id = "JudicialDistrict" })</td>

                <td style="padding-left: 20px"><label class="font-weight-bold">County:</label></td>
                <td>@Html.TextBoxFor(m => m.JudicialCounty, new { @class = "form-control noauto", @maxlength = "50", @autocomplete = "off", @placeholder = "County", @id = "JudicialCounty" })</td>


                <td style="padding-left: 20px"> <label class="font-weight-bold">Date Received:</label></td>
                <td>@Html.TextBoxFor(m => m.DateReceived1, new { @class = "form-control", @type = "date", @placeholder = "MM/DD/YYYY", @id = "DateReceived1", @style = "max-width: 100% !important" })</td>

                <td style="padding-bottom: 10px"><h1>-</h1></td>
                <td style="padding-left: 5px">@Html.TextBoxFor(m => m.DateReceived2, new { @class = "form-control", @type = "date", @placeholder = "MM/DD/YYYY", @id = "DateReceived2", @style = "max-width: 100% !important" })</td>



                <td style="padding-left: 200px"> <button type="submit" name="SubmitBtn" id="dosearch" value="Search" class="btn btn-success">Search</button></td>

                <td style="padding-left: 20px"><button type="button" id="doreset" class="btn btn-light">Reset</button></td>

            </tr>
        </table>
    </div>
}


<script type="text/javascript">


        DateReceived2.max = new Date().toISOString().split("T")[0];
        DateReceived1.max = new Date().toISOString().split("T")[0];


        $('#doreset').click(function (e) {
            $("#JudicialDistrict").val('');
            $("#JudicialCounty").val('');
            $("#DateReceived1").val('');
            $("#DateReceived2").val('');

            $("#results").hide();
        });

   
</script>