﻿@using FJIS2_2_Domain.Models;
@model IEnumerable<Redistribution>
@{
    ViewBag.Title = "FJIS 2.0 Admin : Redistribution Confirmation";
    WebGrid grid = new WebGrid(ViewBag.Redistribution, canSort: false, canPage: false, rowsPerPage: 20);

}

<div class="topHeader" style="padding: 0px !important">
    <span id="headerText">FJIS 2.0 Redistribution Confirmation Window </span>
</div>


@using (Html.BeginForm("Activity", "Admin", FormMethod.Post))
{
    <div id="results" class="row" style="padding:2%">
        @grid.GetHtml(tableStyle: "table table-bordered smallRows",
                        alternatingRowStyle: "gridaltrow",
                        mode: WebGridPagerModes.All,
                             firstText: "<< First",
                             previousText: "< Prev",
                             nextText: "Next >",// (new System.Collections.Generic.Mscorlib_CollectionDebugView<FJIS2_2_Domain.Models.ActivityLog>(((FJIS2_2_Domain.Models.CaseJudgement)((System.Web.Helpers.WebGridRow)item).Value).redistribution).Items[0]).CaseNumber
                             lastText: "Last >>",
                       htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                       columns:
                       grid.Columns(    grid.Column("JudicialDistrict", "Judicial District", format: (item) => item.JudicialDistrict, style: "gridMinWidth", canSort: false),
                                        grid.Column("JudicialCounty", "Judicial County", format: (item) => item.JudicialCounty, style: "gridMinWidth", canSort: false),
                                        grid.Column("CaseNumber", "Case Number", format: (item) => item.CaseNumber, style: "gridMinWidth", canSort: false),
                                        grid.Column("EventDate", "Event Date", format: item => ((item.EventDate == null) ? "" : item.EventDate.ToString("MM/dd/yyyy"))),
                                        grid.Column("EventName", "Event Type", format: (item) => item.EventName, style: "gridMinWidth", canSort: false),
                                        grid.Column("EventMessage", "Event Message", format: (item) => item.EventMessage, style: "gridMinWidth", canSort: false),
                                        grid.Column("EventUserID", "Event User ", format: (item) => item.EventUserID, style: "gridMinWidth", canSort: false)
                                   )
             )
        <br />
        <div class="Pager"></div>
        <a href="@Url.Action("Index", "Admin", new {Area = ""})" class="btn btn-primary noPrint">Home</a>
        <button id="Print" class="btn btn-primary noPrint" type="button" onclick="window.print();">Print</button>
        @TempData["Message"]


    </div>
}

@Scripts.Render("~/bundles/customBundle")