﻿html {
    height: 100%;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 45px;
    overflow-x:hidden;
}

.row {
    margin: 0 0 10px
}

.customCheckbox input[type="checkbox"] {
    position: absolute;
    left: -9999px
}

    .customCheckbox input[type="checkbox"] + label {
        position: relative;
        padding: 3px 0 0 40px;
        cursor: pointer;
        color: rgb(120, 119, 121)
    }

        .customCheckbox input[type="checkbox"] + label:before {
            content: '';
            background: #fff;
            border: 2px solid #ccc;
            border-radius: 3px;
            height: 25px;
            width: 25px;
            position: absolute;
            top: 0;
            left: 0
        }

        .customCheckbox input[type="checkbox"] + label:after {
            content: '';
            border-style: solid;
            border-width: 0 0 2px 2px;
            border-color: transparent transparent #311B92 #311B92;
            width: 15px;
            height: 8px;
            position: absolute;
            top: 6px;
            left: 5px;
            opacity: 0;
            transform: scale(2) rotate(-45deg);
            transition: transform 0.3s linear, opacity 0.3s linear
        }

    .customCheckbox input[type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1) rotate(-45deg);
        color: #311B92
    }


.ChildGrid {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 100%;
}

.ChildGrid td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

    .ChildGrid th {
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #2A3F54;
        color: white;
    }

    .ChildGrid tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .ChildGrid tr:hover {
        background-color: #ddd;
    }

    .ChildGrid tr {
        background-color: white;
        text-align:center;
        color: black;
        font-weight: bold;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
    max-width: 97%;
}


/* Header CSS */
#headerText {
    font-family: 'Mate SC', serif;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 35px;
    white-space: nowrap;
}
.topHeader {
    padding-top: 10px;
    padding-left: 10px;
    /*padding-right:15px;*/
    padding-bottom: 10px;
    background-color: #2A3F54;
    color: #FFF;
}
/*End Header CSS*/

/* Footer CSS*/
.footer {
    background-color: #2A3F54;
    color: #FFF;
    height: 38px;
    width: 100%;
    position: absolute;
    font-size: 16px;
    padding-top: 7px;
    bottom: 0;
}
.footerText {
    font-family: 'Mate SC', serif;
    display: inline;
}
.copyright {
    display: inline;
    padding-left: 10px;
}
/* END Footer CSS*/

/* navMenu CSS*/
#navMenu {
    font-weight: bold;
}
.navbar .divider-vertical {
    height: 50px;
    border-width: 1px;
    border-left: 1px solid #e0e0e0;
}
/*End navMenu CSS*/

/* Session CSS*/
.session {
    font-family: 'Mate SC', serif;
    padding-right: 23px;
    text-align: right;
    float: right;
    vertical-align: middle;
    display: inline;
}

.sessionEnding {
    font-family: 'Mate SC', serif;
    padding-right: 23px;
    text-align: right;
    float: right;
    font-weight: bold;
    color: red;
    vertical-align: middle;
}
/*END Session CSS*/

/*Error Pages */
.error-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #808080;
    text-shadow: 1px 1px 2px #000000;
    font-size: 26px;
}

.error-detailheader {
    font-family: sans-serif;
    font-size: 15px;
    color: #555555;
    font-weight: 700;
    width: 125px;
    vertical-align: top;
}

.error-detailheader1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-right: 15px;
    padding-top: 2px;
    vertical-align: top;
    color: #555555;
    font-weight: 700;
    width: 125px;
}

.error-details {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-right: 15px;
    padding-top: 2px;
    vertical-align: top;
    color: #999999;
    font-weight: 500;
}
/* End Error Pages */

.whitecaret {
    border-top: 4px solid white;
}

.caretFloat {
    padding-left: 5px;
    float: right;
    vertical-align: middle;
    padding-top: 3px;
}

/* Dropdown Menu CSS*/
.dropdown-menu {
    z-index: 10000;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu.pull-left {
    /*float: none;*/
    float: right;
    min-width: 185px;
    padding-top: 2px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu.pull-left {
    /*float: none;*/
    float: right;
    min-width: 185px;
    padding-top: 2px;
}

    .dropdown-submenu.pull-left > .dropdown-menu {
        top: 0;
        right: 100%;
        margin-left: 100%;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

.dropdown-menu {
    min-width: 185px;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-left: 100%;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*End Dropdown Menu CSS*/

.panel-heading {
    font-size: 18px;
    font-weight: bold;
    padding-right: 25px;
}

.row {
    padding-right: 20px;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffe5e5;
    font-weight: 700;
    color: darkred;
}

.required:after {
    content: "*";
    margin-left: 3px;
    /*color: #f00;*/
    color: red;
    font-size: 12pt;
    font-weight: bold;
}

.cancelModelHeader {
    background-color: #2A3F54;
}

.cancelModelHeaderText {
    color: white;
    font-size: medium;
}

.cancelModelText {
    font-size: medium;
}

.btnPadding {
    padding-left: 7px;
}

.dontShow
{
    display: none;
}

@media print {
    @page {
        size: landscape;
        margin: 0;
    }
   
    body {
        margin: 1.6cm;
    }

    a[href]:after {
        content: none !important;
    }
    
    .noPrint {
        display: none;
    }
}