﻿

@{
    ViewBag.Title = "Acknowledge Page";
}

<div class="jumbotron" style="text-align: center">
    <h1>FJIS 2.0</h1>
    <p class="lead">FJIS 2.0 USERS’ ACCESS POLICY</p>
    <p style="color:red">Warning: You May Only Access FJIS 2.0 for Business Purposes.</p>
    <p>
        All users are required to acknowledge and agree to the user access policy. You will be reminded of this policy each time, prior to logging in.
    </p>
    <ul style="text-align:left; margin-left:10%">
        <li>You are accessing a restricted information system</li>
        <li>Usage of this system may be monitored, recorded, and subject to audit</li>
        <li>Unauthorized use of this system is prohibited and may be subject to criminal and/or civil penalties</li>
        <li>Use of the system gives consent to monitor and record usage</li>
    </ul>
    @if (User.IsInRole("FJIS2 Admin"))
    {
        <p style="margin-top:2%"><a href="@Url.Action("Index", "Admin", new {Area = ""})" class="btn btn-primary btn-lg">ACKNOWLEDGE AND ACCEPT TO PROCEED</a></p>
    }
    else
    {
        <p style="margin-top:2%"><a href="@Url.Action("Index", "Home", new {Area = ""})" class="btn btn-primary btn-lg">ACKNOWLEDGE AND ACCEPT TO PROCEED</a></p>
    }
    
</div>

