﻿@{ 
    var alerts = TempData.ContainsKey(BaseController.Alert.TempDataKey)
        ? (List<BaseController.Alert>)TempData[BaseController.Alert.TempDataKey]
        : new List<BaseController.Alert>(); 
 

 
    foreach (var alert in alerts) 
    { 
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null; 
        <div class="alert alert-@alert.AlertStyle @dismissableClass fade in no-print"> 
            @if (alert.Dismissable) 
            { 
                <a href="#" class="close" title="close" data-dismiss="alert" aria-label="close">x</a>
            } 
            <span><i class="fa fa-@alert.AlertIcon"></i> @Html.Raw(alert.Message) </span>
        </div>
    } 
} 