﻿<footer class="navbar-fixed-bottom">
    <div class="content-wrapper footer">    
        <p>Felony Judgment Information System 2.0</p>
       @* <p class="copyright">&copy;  </p><p class="footerText">@DateTime.Now.Year - Felony Judgment Information System 2.0</p>*@
        @*<div style="display:inline;float:right">
            <input name="btnKeepSession" id="btnKeepSession" type="button" value="refresh" class="btn-danger btn-xs" />
            &nbsp;<p id="lblSession" class="session"></p>
        </div>*@
    </div>
</footer>