﻿@using System.Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <!--Start Session Expire Warning Modal -->
    <div class="modal fade noPrint" id="session-expire-warning-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Session Expiration Warning</h4>
                </div>
                <div class="modal-body">
                    Due to inactivity your session is ending in <span id="seconds-timer"></span> seconds. Click continue to remain logged in.
                </div>
                <div class="modal-footer">
                    <button id="btnOk" type="button" class="btn btn-default" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px;  background-color: #428bca; color: #FFF;">Continue</button>
                    <button id="btnLogoutNow" type="button" class="btn btn-default" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px;  background-color: #428bca; color: #FFF;">Logout Now</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Session Expire Warning Modal -->
    <!-- Start Session has Expired Modal -->
    <div class="modal fade noPrint" id="session-expired-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Session Expired</h4>
                </div>
                <div class="modal-body">
                    Your session has expired due to inactivity.
                </div>
                <div class="modal-footer">
                    <button id="btnExpiredOk" onclick="sessionExpiredRedirect()" type="button" class="btn btn-primary" data-dismiss="modal" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px; background-color: #428bca; color: #FFF;">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Session has Expired Modal -->
   
    <div id="header" class="noPrint">
        <div class="topHeader" style="padding-right:25px;">
            <span>@Html.Partial("_LoginPartial")</span>
            <img src="~/Content/images/justice.png" width="75" height="74" />
            <span id="headerText">Felony Judgment Information System 2.0</span>
        </div>
        @Html.Partial("_Menu")
        @*<div class="partialLogin">@Html.Partial("_LoginPartial")</div>*@
    </div>
    <div id="content" class="row" style="padding:10px;padding-right:10px;position:relative">
        <div class="col-xs-12">
            @Html.Partial("_Alerts")
            @RenderBody()
        </div>
    </div>
    @*<div class="container body-content">
            @RenderBody()
        </div>*@
    @Html.Partial("_Footer")

    @RenderSection("scripts", required: false)

    @if (Request.IsAuthenticated)
    {
        @Html.Hidden("loginUrl", ConfigurationManager.AppSettings["SSOLoginPath"].ToString())
        @Html.Hidden("logOffUrl", Url.Action("LogOff", "Account", new { area = "" }))
        @Html.Hidden("keepAliveUrl", Url.Action("KeepSessionAlive", "Home", new { area = "" }))
            @Html.Hidden("sessionTimeoutWarning", ConfigurationManager.AppSettings["SessionTimeoutWarning"].ToString())
            <script src="@Url.Content("~/Scripts/sessionTimeout.js")"></script>
            <script type="text/javascript">
                $(function () {
                    // Initiate session timeout warning
                    initSessionMonitor();
                });
            </script>
    }
</body>
</html>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
