﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { Area = "Identity", id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="accountInfo">
            <li class="dropdown">
                <i class="fa fa-user accountIconOnly"></i>&nbsp;&nbsp;<a href="#" class="dropdown-toggle userInfo" data-toggle="dropdown">
                    @User.Identity.GetUserName()
                    @*@User.Identity.GetDisplayName()*@
                    <i class="caret whitecaret"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("Index", "MyProfile", new {Area = ""})"><i class="fa fa-user"></i> My Profile</a>
                    </li>
                    <li><a href="@Url.Action("ChangePassword", "Manage", new { Area = "" })"><i class="fa fa-lock"></i> Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>

                </ul>
            </li>
            @*<span id="role">@Html.Label(User.Identity.GetUserRole())</span>*@
        </ul>
    }
}
else
{
    @*<div>
        @Html.ActionLink("Admin View", "Index", "Admin", null, new { @class = "makeWhite" })
    </div>*@
    @*<div>
        @Html.ActionLink("Provider View", "Index", "Provider", null, new { @class = "makeWhite" })
    </div>*@
}