﻿<div id="navMenu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>
                        <a href="@Url.Action("Index", "Home", new { area=""})"><i class="fa fa-home"></i> Home</a>
                    </li>*@
                    <li class="divider-vertical"></li>
                    <li><a href="@Url.Action("About", "Home", new { area=""})"><i class="fa fa-info-circle"></i> About</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="@Url.Action("Contact", "Home", new { area=""})"><i class="fa fa-contao"></i> Contact Us</a></li>
                                        
                    @*@if (User.IsInRole("FJIS2 Admin"))
                    {
                        <li class="divider-vertical"></li> 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-tasks"></i> Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu pull-left">
                                    <a href="#"><i class="fa fa-envelope"></i> Sample Emails <i class="fa fa-caret-right caretFloat"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a id="lnkSendInvitationEmail" title="Invitation Email"><i class="fa fa-mail-forward dropdownIcons"></i>Invitation Email</a></li>
                                        <li><a id="lnkSendTerminationEmail" title="Termination Email"><i class="fa fa-mail-reply dropdownIcons"></i>Termination Email</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu pull-left">
                                    <a href="#"><i class="fa fa-users"></i> System Users <i class="fa fa-caret-right caretFloat"></i></a>
                                    <ul class="dropdown-menu" style="min-width:205px">
                                        <li><a href="@Url.Action("Index", "ManageUsers", new {Area = "Admin"})"><i class="fa fa-users"></i> Manage Users</a></li>
                                        <li><a href="@Url.Action("Index", "WorkQueue", new {Area = "Admin"})"><i class="fa fa-laptop"></i> Work Queue</a></li>
                                        <li><a href="@Url.Action("AddUsers", "User", new {Area = "Admin"})"><i class="fa fa-info-circle"></i> Add Users</a></li>
                                        <li><a href="@Url.Action("Index", "ProfileChangeRequests", new {Area = "Admin"})"><i class="fa fa-user-secret"></i> Profile Change Requests</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu pull-left">
                                    <a href="#"><i class="fa fa-gear"></i> System Updates <i class="fa fa-caret-right caretFloat"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Agency", new { area="Admin" })"><i class="fa fa-address-book"></i> Agencies</a></li>
                                        <li><a href="@Url.Action("Index", "UserTitles", new {Area = "Admin"})"><i class="fa fa-address-card-o"></i> User Titles</a></li>
                                        <li><a href="@Url.Action("Index", "SystemMessages", new {Area = "Admin"})"><i class="fa fa-envelope-open"></i> System Messages</a></li>
                                        <li><a href="@Url.Action("Index", "FaqCategory", new {Area = "Admin"})"><i class="fa fa-question-circle-o"></i> FAQ Category</a></li>
                                        <li><a href="@Url.Action("Index", "Glossary", new {Area = "Admin"})"><i class="fa fa-search"></i> Glossary</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }*@
                </ul>

                <ul style="padding-right:12px" class="nav navbar-nav navbar-right">
                    <li>

                        @*@if (!Request.IsAuthenticated)
                        {
                            <a href="@Url.Action("Index", "Login", new {Area = ""})"><i class="fa fa-sign-in"></i> Login</a>
                        }*@
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>