﻿@model Exception

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="errorTable" width="100%">
    <tr>
        <td valign="middle" style="width: 150px"><img src="~/Content/images/oops.gif" /></td>
        <td class="error-header" valign="middle">An unexpected error occured!</td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
</table>
<table class="errorTable" width="100%">
    <tr>
        <td colspan="2" class="error-detailheader">
            An error occured while processing your request.
            <br />Please retry your request or contact your system administrator.
            We will fix the problem as soon as possible.  Sorry for any inconvenience caused.
        </td>
    </tr>
    <tr>
        <td><div style="height: 10px"></div></td>
    </tr>


    <tr>
        <td colspan="2" class="error-detailheader"><u>Error Details:</u></td>
    </tr>
    <tr>
        <td class="error-detailheader">Error Date:</td>
        <td class="error-details">@DateTime.UtcNow.ToLocalTime()</td>
    </tr>
    <tr>
        <td><div style="height: 10px"></div></td>
    </tr>
    <tr>
        <td valign="top" class="error-detailheader">Error Message:</td>
        <td class="error-details">@Model.Message</td>
    </tr>
    <tr>
        <td><div style="height: 10px"></div></td>
    </tr>
    @if (User.IsInRole("FJIS2 Admin"))
    {

        <tr>
            <td class="error-detailheader">Target Site:</td>
            <td class="error-details">@Model.TargetSite.Name</td>
        </tr>
        <tr>
            <td><div style="height: 10px"></div></td>
        </tr>


        if (Model.InnerException != null)
        {
            <tr>
                <td style="vertical-align:top" class="error-detailheader">Inner Exception:</td>
                <td class="error-details">@Model.InnerException</td>
            </tr>
        }
        else
        {
            <tr>
                <td style="vertical-align:top" class="error-detailheader">Inner Exception:</td>
                <td class="error-details">Inner exception is null.</td>
            </tr>
        }

        <tr>
            <td><div style="height: 10px"></div></td>
        </tr>

        <tr>
            <td style="vertical-align:top" class="error-detailheader">Stack Trace:</td>
            <td class="error-details">@Model.StackTrace</td>
        </tr>
    }
</table>