﻿@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="errorTable" width="100%">
    <tr>
        <td valign="middle" style="width: 150px"><img src="~/Content/images/oops.gif" /></td>
        <td class="error-header" valign="middle">500 - Internal Server Error!</td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
</table>
<table class="errorTable" width="100%">
    <tr>
        <td colspan="2" class="error-detailheader">
            An internal server error has occured.
            <br />Please retry your request or contact your system administrator.
            We will fix the problem as soon as possible.  Sorry for any inconvenience caused.
        </td>
    </tr>
</table>