﻿
@{
    ViewBag.Title = "Logged Out";
}

<script type="text/javascript">
        
    $(document).ready(function () {
     //   $("#narbarMenu").addClass("dontShow");
        $(".accountInfo").hide();
        $(".userInfo").hide();
    });

</script>


<div class="jumbotron text-center" style="background-color: white; padding-top: 20px">
    <div style="font-size: 40px; font-weight: bold">
        Thank you for using the Felony Judgment Information System 2.0 
    </div>
    <br />
    <div style="font-size: 20px; font-weight: bold">
        You have been logged off the system.
    </div>
    <div style="font-size: 20px; font-weight: bold">
        Click here to <a href="@Url.Action("Index", "Login", new {Area = ""})"><i class="fa fa-sign-in"></i> Login </a>
    </div>
</div>

